<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <img src="../../assets/img/landing/logo/topnavbar1.jpg" alt="Logo GestKaD" height="100" width="100" />
            <img src="../../assets/img/landing/logo/topnavbar2.jpg" alt="Logo GestKaD" height="100" width="500" />
            <img src="../../assets/img/landing/logo/topnavbar3.jpg" alt="Logo GestKaD" height="100" width="300" />
        </div>
    </nav>
</div>