<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    LA QUALITE DU SERVICE PROFESSONNIEL
                </h1>
                <div class="contact-box">
                    <div class="m-t-xs font-bold">
                        <style type="text/css">
                            p
                            {
                                width: 350px;
                            }
                            </style>
                        <div class="text-center">
                          <img src="../../assets/img/landing/logo/acceuilima1.jpg" alt="Sango avec Clyo CS Pro" title="Sango avec Clyo CS Pro" height="50%" width="50%"/>
                        </div>
                        <p>
                            GesKaD vous propose des solutions simples et adaptés à votre commerce. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>